@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.page{
    justify-content: center;
    align-items: center;
    display: flex;
}

.search{
    margin-top: 60px;
}

.inp{
    outline: none;
    border-radius: 20px;
    width: 300px;
    height: 60px;
    border-top:3px rgb(97, 97, 97) solid;
    border-bottom:3px rgb(97, 97, 97) solid;
    border-left:3px rgb(97, 97, 97) solid;
    border-right:3px rgb(97, 97, 97) solid;
}

.btn{
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: black;
    height: 60px;
    width: 60px;
    margin-left: 5px;
}

.btn:hover{
    background-color: rgb(88, 88, 88);
    transition: 0.8s;
}

.error{
    background-color: rgb(187, 33, 33);
    color: white;
    height: auto;
    width: 305px;
    height: 28px;
    border-radius: 20px;
}

.error p{
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.oriental{
    display: block;
}

.weather{
    margin-top: 20px;
    background-color: rgb(129, 129, 129);
    border-radius: 20px;
    height: 190px;
}

.weather img{
    justify-content: center;
    align-items: center;
}

.weather p{
    margin-left: 10px;
}

.centered {
    display: block;
    margin: 0 auto;
}

.header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
}
  
.text{
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
}